SERVER_PORT=7002

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=voucherdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_SECRET=replace-with-shared-jwt-secret
JWT_EXPIRATION=86400000
